@use "../../../../MAINCSSFORWHOLECOMPONENTS/_IconsForWholeAddressFormPage.scss"
  as *;
@use "../../../../MAINCSSFORWHOLECOMPONENTS/_FontColor.module.scss" as *;
@use "../../../../MAINCSSFORWHOLECOMPONENTS/MainInputsStyles.module" as *;
@use "../../../../MAINCSSFORWHOLECOMPONENTS/_ButtonsGroupBackAndNext.module.scss"
  as *;
@use "../../../../MAINCSSFORWHOLECOMPONENTS/_MainCountersStyles.module.scss" as *;

.luggageQuantityWrapper {
  width: 100%;
  height: 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.luggageQuantityIconAndTitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.luggageCounterTitle {
  @include global_second_title_styles;
}
.luggageQuantityCounterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.luggageQuantityIcon {
  @include luggage_icon;
  width: 24px;
  height: 24px;
  @include counters-and-switches-icon-margins;
}
.luggageQuantityInputContainer {
  height: 100%;
}
.luggageQuantityInputSelf {
  width: 34px !important;
  // marginLeft: "2px",
  // marginRight: "2.5px",
  // marginBottom: "4px",
  height: 100% !important;

  border-right: none !important;
  border-left: none !important ;
  box-sizing: border-box !important;
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  // border: none;
  text-align: center !important;
  font-family: Roboto !important;
  text-transform: none !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  padding: 0 !important;
  outline: none !important;
  margin: 0 !important;
}

.luggageQuantityMinusSelf,
.luggageQuantityPlusSelf {
  @include counters-button-styles;
  padding: 0;
}

.luggageQuantityMinusSelf {
  // @include counters-buttons-minus-icon;
  border: $inputs-border;
  border-top-left-radius: $inputs-border-radius;
  border-bottom-left-radius: $inputs-border-radius;
}
.luggageQuantityPlusSelf {
  // @include counters-buttons-plus-icon;
  border: $inputs-border;
  border-top-right-radius: $inputs-border-radius;
  border-bottom-right-radius: $inputs-border-radius;
}
