.passenger input::-webkit-outer-spin-button,
.passenger input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none !important;
  /* <-- Apparently some margin are still there even though it's hidden */
}
#widget-by-bookinglane ::-webkit-scrollbar {
  width: 3px;
  height: 10px;
  top: 100px;
}
#widget-by-bookinglane ::-webkit-scrollbar:hover {
  cursor: pointer;
}
#widget-by-bookinglane ::-webkit-scrollbar-thumb {
  background-color: rgb(149, 149, 149);
  border-radius: 40px;
}
#widget-by-bookinglane ::-webkit-scrollbar-thumb:hover {
  background: #c5cde3;
}
