#widget-by-bookinglane {
  button {
    appearance: initial !important;
    box-sizing: border-box !important;
    // display: initial !important;
    font-family: Roboto !important;
    font-weight: initial !important;
    letter-spacing: initial !important;
    line-height: initial !important;
    padding: initial !important;
    position: initial !important;
    text-decoration: initial !important;
    text-transform: initial !important;
    transition: initial !important;
    vertical-align: initial !important;
  }
  input {
    line-height: initial !important;
    margin-bottom: initial !important;
    // padding: initial !important;
    font-family: Roboto !important;
    box-shadow: initial !important;
    appearance: initial !important;
  }
  label {
    display: initial !important;
  }
}
